<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Practise Room Sign-up</title>
  <link rel="icon" href="favicons/favicon.ico">
  <link rel="stylesheet" href="css/bootstrap.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container smaller-container">
    <h1 class="">Practise Room Sign-up <sup></sup></h1>
    <hr>
    <h3 class="mt-4">Admin Control Panel</h3>
    
    <h4 class="mt-4">Password lookup</h4>
    <p class="font-weight-bold mt-3">Forgetting password is NOT AN EXCUSE for not practising!!!</p>
    <p>Please enter the information of the student and your admin password to lookup the student's password.</p>

    <form method="POST" action="password-req">
      
      <div class="form-group">
        <input type="text" required="required" id="fullName" name="fullName"/>
        <label for="input" class="control-label">Full Name</label><i class="bar"></i>
      </div>

      <div class="form-group">
        <input type="text" required="required" id="studentID" name="studentID"/>
        <label for="input" class="control-label">Student ID</label><i class="bar"></i>
      </div>

      <div class="form-group">
        <input type="password" required="required" id="password" name="password"/>
        <label for="input" class="control-label">Admin Password</label><i class="bar"></i>
      </div>

      <a class="btn btn-primary mr-2" href=".">Back</a>
      <input class="btn btn-primary mr-2" type="submit"></input>

    </form>

    <hr class="mt-5 mb-4">

    <h4 class="">New announcement</h4>
    <p>Type the announcement here, this will replace the old announcement on the home page. To remove existing announcement, leave the "New Announcement" box blank.</p>

    <form method="POST" action="announcement-req">

      <div class="form-group">
        <textarea id="announcement" id="announcement" name="announcement" style="height: 150px;" required></textarea>
        <label for="textarea" class="control-label">New Announcement</label><i class="bar"></i>
      </div>

      <div class="form-group">
        <input type="password" required="required" id="password" name="password"/>
        <label for="input" class="control-label">Admin Password</label><i class="bar"></i>
      </div>

      <a class="btn btn-primary mr-2" href=".">Back</a>
      <input class="btn btn-primary mr-2" onclick="document.getElementById('announcement').required = false" type="submit"></input>

    </form>

    <hr class="mt-5 mb-4">

    <h4 class="">Disable Sign-up by Time <sup>beta</sup></h4>
    <p>You can disable sign-ups for one or more specific time period(s) by checking the boxes below. This will remove all existing sign-ups during the specified time period and replace them with placeholders until the next day. You CANNOT undo this action.</p>

    <form method="POST" action="disable-req">

      <div class="checkbox mt-4">

        <label class="pure-material-checkbox mr-3">
          <input type="checkbox" name="T19001930" id="T19001930">
          <span>19:00-19:30</span>
        </label>

        <label class="pure-material-checkbox mr-3">
          <input type="checkbox" name="T19302000" id="T19302000">
          <span>19:30-20:00</span>
        </label>

        <label class="pure-material-checkbox mr-3">
          <input type="checkbox" name="T20002030" id="T20002030">
          <span>20:00-20:30</span>
        </label>

        <label class="pure-material-checkbox mr-3">
          <input type="checkbox" name="T20302100" id="T20302100">
          <span>20:30-21:00</span>
        </label>

      </div>

      <div class="form-group mt-3">
        <input type="password" required="required" id="password" name="password"/>
        <label for="input" class="control-label">Admin Password</label><i class="bar"></i>
      </div>

      <a class="btn btn-primary mr-2" href=".">Back</a>
      <input class="btn btn-primary mr-2" onclick="document.getElementById('announcement').required = false" type="submit"></input>

    </form>

    <!-- <h3 class="mt-5 text-muted">Debug info:</h3>
    <p><small class="text-muted">from admin.ejs</small></p> -->

  </div>

  <!-- JQuery -->
  <!-- <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script> -->
  <!-- Bootstrap tooltips -->
  <!-- <script type="text/javascript" src="/js/popper.min.js"></script> -->
  <!-- Bootstrap core JavaScript -->
  <!-- <script type="text/javascript" src="/js/bootstrap.js"></script> -->
  <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
  <!-- <script src="/js/main.js"></script> -->
  <script>
  
  </script>
</body>
</html>