<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Practise Room Sign-up</title>
  <link rel="icon" href="/favicons/favicon.ico">
  <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">
    <h1 class="mt-4">Practise Room Sign-up <sup>beta</sup></h1>
    <h3 class="mt-4">Help</h3>

    <h4 class="mt-3">Sign-up Instructions</h4>

    <ul>
      <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis exercitationem, mollitia ducimus blanditiis ipsum corrupti eius officia vitae voluptatum accusantium reprehenderit?</li>
      <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto atque vero dolorum sed temporibus ipsum consectetur sint reprehenderit?</li>
      <li>Quasi esse officiis atque unde nihil explicabo eligendi nulla cumque repudiandae velit ducimus. Similique quo quod totam culpa officiis.</li>
      <li>Dolores voluptate ullam aliquam quas corrupti, aspernatur incidunt. Quas accusamus similique eius, amet sequi ad! Rem sit alias molestiae laboriosam perspiciatis facilis?</li>
    </ul>

    <h4 class="mt-3">Frequently Asked Questions</h4>

    <ol>
      <li class="font-weight-bold">Mollitia ducimus blanditiis ipsum corrupti eius officia vitae voluptatum accusantium reprehenderit?</li>
      <p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis illo accusantium, asperiores commodi ipsum quos magnam blanditiis, ipsam consectetur quod architecto iure adipisci obcaecati dolor. Corrupti id ullam odit eligendi.</p>
      <li class="font-weight-bold">Iusto atque vero dolorum sed temporibus ipsum consectetur sint reprehenderit?</li>
      <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus necessitatibus at, mollitia blanditiis quidem reprehenderit laudantium velit, ducimus molestiae, ipsum quaerat. Necessitatibus laudantium dolorem repellat in dicta fugiat? Ab, aut.</p>
      <li class="font-weight-bold">Similique quo quod totam culpa officiis?</li>
      <p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, expedita quibusdam voluptatum, laboriosam neque dolores, et eum aspernatur veniam commodi alias iusto error maiores exercitationem architecto vel eligendi iste quis.</p>
      <li class="font-weight-bold">Quas accusamus similique eius, amet sequi ad! Rem sit alias molestiae laboriosam perspiciatis facilis?</li>
      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet unde veritatis, porro, amet commodi molestias nemo libero beatae id, perferendis impedit! Nobis perspiciatis doloremque dolorem voluptates vero quisquam aliquid nihil.</p>

    </ol>

    <button class="btn btn-primary mt-4" onclick="window.history.back()">Back</button>

    <h3 class="mt-5">Debug info:</h3>
    <p><small class="text-muted">from help.ejs</small></p>


  </div>

  <!-- JQuery -->
  <!-- <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script> -->
  <!-- Bootstrap tooltips -->
  <!-- <script type="text/javascript" src="/js/popper.min.js"></script> -->
  <!-- Bootstrap core JavaScript -->
  <!-- <script type="text/javascript" src="/js/bootstrap.js"></script> -->
  <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
  <script src="/js/main.js"></script>
  <script>
  
  </script>
</body>
</html>