<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Practise Room Sign-up</title>
  <link rel="icon" href="favicons/favicon.ico">
  <link rel="stylesheet" href="css/bootstrap.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container smaller-container">
    <h1 class="">Practise Room Sign-up <sup></sup></h1>
    <hr>
    <h3 class="mt-4">Help</h3>

    <h4 class="mt-3">Sign-up Instructions</h4>

    <ul>
      <li>The sign-up system has three different states: closed, open and read-only. You can only submit sign-up requests when the system is open. The time interval during which the system is open is indicated on the home page.</li>
      <li>To sign up for a practice room, click on an empty slot on the sign-up table, this will take you to a sign-up form if the room is available.</li>
      <li>Fill in all the information required including your full name, grade, student ID, and password. If you want to sign up for your small ensemble, check the "Small Ensemble" box and type in the name and grade of all the people coming to this practice session in the "Remark" area. Click "Submit" after making sure that the information is accurate.</li>
      <li>Once you see the response "Sign-up Successful", you will be able to find your name on the sign-up table.</li>
    </ul>

    <h4 class="mt-3">Submitting cancel requests</h4>

    <ul>
      <li>Like sign-up requests, cancel requests can only be submitted when the system is open. To access the cancel request form, one way is to click on the "Cancel Request" button on the home page. Alternatively, you can click on a occupied slot and click "Cancel Request" from within the information page, which will save your time filling in the name and student ID.</li>
      <li>To cancel yourself, simply type in your name, student ID, password, and hit "Submit".</li>
    </ul>

    <h4 class="mt-3">Frequently Asked Questions</h4>

    <ol>
      <li class="font-weight-bold">What happens when multiple people are signing up for the same room and time simultaneously?</li>
      <p class="mt-2 mb-3">When this happens, the programme will accept the person who submits the form first; subsequent submitters will be asked to choose another room or time.</p>
      <li class="font-weight-bold">It says that the information I entered is incorrect, did I miss something?</li>
      <p class="mt-2 mb-3">The algorithm that the programme use to verify your sign-up credentials is case sensitive for your username but not for your password. This means that, for example, the full name "leon LU" is not equivalent to "Leon Lu" but the password "39AC0F" is interchangable with "39ac0f". Additionally, extra spaces will also be considered invalid. Therefore, please check and make sure that your information meets the requirements above.</p>
      <li class="font-weight-bold">I don't remember my student ID, where can I find it?</li>
      <p class="mt-2 mb-3">You can find your student ID on your student ID.</p>
      <li class="font-weight-bold">What do I do if I forget my password?</li>
      <p class="mt-2 mb-3">If you forget your password, please find a music teacher to look up your password as soon as possible so that you can practice.</p>
      <li class="font-weight-bold">I tried signing up with my phone but the page does not load, what happened?</li>
      <p class="mt-2 mb-3">This happens because signup.ncpachina.org is an intranet domain name, which means that it is only accessible to a device connected to the school network.</p>
      <li class="font-weight-bold">Can I sign up more than once in the same day?</li>
      <p class="mt-2 mb-3">No.</p>
      <li class="font-weight-bold">When will the beta stage end?</li>
      <p class="mt-2 mb-3">The beta stage ends when all the necessary features are added and tested.</p>

    </ol>

    <h4 class="mt-3">Teacher Options</h4>

    <ul>
      <li><strong>Sign-up and Cancel Requests: </strong>Teachers can use their administrator password to sign up for or cancel a student as long as the system is open.</li>
      <li><strong>Reserving Rooms For Special Purposes: </strong>Teachers can use their administrator password to book a room by putting the name of the event in the "Full Name" input box and "n/a" in other required boxes.</li>
      <li><strong>Password Lookup: </strong>To lookup a student's password, go to the admin page and submit the student's full name, student ID, and the teacher's administrator password.</li>
      <li><strong>Posting Announcements: </strong>Teachers can add announcements to the home page by submitting the "New Announcement" form in the admin page. The text input in the "New Announcement" text area will replace existing announcements. To add to existing announcement, copy and past the existing announcement into the text area first. To remove all existing announcements, leave the "New Announcement" text area blank and submit the form.</li>
    </ul>

    <p class="text-note">*Last updated: 17 November 2019</p>




    <button class="btn btn-primary mt-4" onclick="window.history.back()">Back</button>

    <!-- <h3 class="mt-5 text-muted">Debug info:</h3>
    <p><small class="text-muted">from help.ejs</small></p> -->


  </div>

  <!-- JQuery -->
  <!-- <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script> -->
  <!-- Bootstrap tooltips -->
  <!-- <script type="text/javascript" src="/js/popper.min.js"></script> -->
  <!-- Bootstrap core JavaScript -->
  <!-- <script type="text/javascript" src="/js/bootstrap.js"></script> -->
  <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
  <!-- <script src="/js/main.js"></script> -->
  <script>
  
  </script>
</body>
</html>