<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Practise Room Sign-up</title>
  <link rel="icon" href="favicons/favicon.ico">
  <link rel="stylesheet" href="css/bootstrap.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container smaller-container">
    <h1 class="">Practise Room Sign-up <sup></sup></h1>
    <hr>
    <h3 class="mt-4">Open Issues</h3>
    <p>The following updates currently being worked on</p>

    <ol>
      <li><del>User interface improvement</del></li>
      <li><del>ReCaptcha implimentation to prevent robots</del></li>
      <li>Option to disable sign-up for specific time period</li>
      <li><del>Analytics panel</del></li>
      <li><del>Signup history</del></li>
    </ol>

    <h3 class="mt-4">Closed Issues</h3>
    <ol> 
      <li><del>User interface improvement</del></li>
      <li><del>ReCaptcha implimentation to prevent robots</del></li>
      <li><del>Analytics panel</del></li>
      <li><del>Signup history</del></li>
      <li><del>Teacher-only cancellation after closing sign-up</del></li>
      <li><del>Unexpected undefended variable</del></li>
      <li><del>App crashes on chrome inspect panel open</del></li>
    </ol>


    <p>Visit <a href="https://github.com/leonluleonlu/PractiseRoomSignup/issues">GitHub</a> for more information</p>


    <button class="btn btn-primary mt-3" onclick="window.history.back()">Back</button>

    <!-- <h3 class="mt-5 text-muted">Debug info:</h3>
    <p><small class="text-muted">from help.ejs</small></p> -->


  </div>

  <!-- JQuery -->
  <!-- <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script> -->
  <!-- Bootstrap tooltips -->
  <!-- <script type="text/javascript" src="/js/popper.min.js"></script> -->
  <!-- Bootstrap core JavaScript -->
  <!-- <script type="text/javascript" src="/js/bootstrap.js"></script> -->
  <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
  <!-- <script src="/js/main.js"></script> -->
  <script>
  
  </script>
</body>
</html>