<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Halloween Signup</title>
  <link rel="icon" href="/favicons/favicon.ico">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/mdb.css">
  <link rel="stylesheet" href="/fontawesome/css/all.css">
</head>
<body>

  <div id="particles-js"></div>


  <div id="particles-js2"></div>

  <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <!--Contact div-->
    <div class="row py-5">
      <!--Entire content colomn-->
      <div class="col-md-12">
        <!--Main card-->
        <div class="card z-depth-5 text-halloween" id="main-card-container">
          <div class="card-body pb-2">
            <!-- Content -->
            <section class="my-3 mx-3">
              <!-- Heading -->
              <h1 class="h1-responsive font-weight-bold text-center mt-2 mb-3 text-light">SIGN-UP FORM</h1>
              <!-- Everything else -->
              <div class="row">
                
                <form class="col-12" autocomplete="off" action="/erase" method="POST" class="md-form">

                  <div class="row">

                    <!-- Password -->
                    <div class="col-md-12">
                      <div class="md-form mb-0">
                        <input type="password" id="operationPassword" class="form-control" name="operationPassword">
                        <label for="operationPassword" class="">Operation Password</label>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <!-- Student ID -->
                    <div class="col-md-12">
                      <div class="md-form mb-0">
                        <input type="text" id="varificationQuestion" class="form-control" name="varificationQuestion">
                        <label for="varificationQuestion" class="">2, 3, 5, 7, 11, 13, what's next</label>
                      </div>
                    </div>
  
                  </div>

                  <div class="row">

                    <div class="form-check orange-checkbox mb-3 mt-3 ml-0 pl-2-half pr-2">
                      <input type="checkbox" class="form-check-input filled-in" name="agree" id="agree" value="agree" required>
                      <label class="form-check-label" for="agree">I have double checked my brain to confirm that I know what I am doing.</label>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-6">
                      <a class="btn btn-outline-white waves-effect waves-light ml-0" href="/data">Cancel</a>
                    </div>
                    <div class="col-6 text-right">
                      <input class="btn btn-outline-orange waves-effect waves-light mr-0" type="submit"></input>
                    </div>

                  </div>

                </form>
              

              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <script src="/js/particles.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>





  <!-- <form action="/erase" method="POST">
    <label for="operationPassword">Operation Password</label>
    <input type="password" name="operationPassword" id="operationPassword" placeholder="operation password">
    <br>
    <label for="varificationQuestion">Varification Question</label>
    <input type="text" name="varificationQuestion" id="varificationQuestion" placeholder="2, 3, 5, 7, 11, 13, what's next">
    <br>
    <input type="checkbox" name="agree" id="agree" value="agree" required>I know what I am doing
    <br>
    <input type="submit">
  </form> -->
